@charset "utf-8";
*{
	box-sizing: border-box;
	margin: 0;
}
body{
	background: #AAA;
}
.origin{
	width: 200px;
	height: 200px;
	background: transparent;
	margin: 100px auto;
	box-shadow: inset 0 -10px 0 10px aqua, inset 0 20px 0 20px tomato;
	border-radius: 50%;
	animation: animation 6s infinite;
}
@keyframes animation{
	25%{
		transform: rotate(45deg);
	}
	75%{
		transform: rotate(-45deg);
	}
}