@charset "utf-8";
*{
	box-sizing: border-box;
	margin: 0;
}
.origin{
	width: 300px;
	height: 300px;
	background-image: url("../images/dingding.jpg");
	background-size: cover;
	margin: calc( 50vh - 150px) auto;
	border: 10px solid rgba(100,125,77,0.5);
	/* 讲解 background-clip 用法 */
	/* 该属性的值默认是 border-box */
	background-clip: content-box;
}


/* 更多玩法 */
/*.origin{
	width: 300px;
	height: 300px;
	background-image: url("dingding.jpg");
	background-size: cover;
	margin: calc( 50vh - 150px) auto;
	border: 0px solid rgba(0,0,0,0);
	animation: animation 10s ease-in infinite;
}
@keyframes animation{
	50%{
		border: 100px solid rgba(0,0,0,0);
	}
}*/